---
import Button from "./Button.astro";
---

<footer class="bg-heading-color py-12 px-0">
  <div class="container items-center grid grid-cols-1 md:grid-cols-2">
    <h2 class="text-white">
      Join our community by using our services and grow your business.
    </h2>
    <Button content="Try It For Free" href="/try" />
  </div>
</footer>
