---
interface Props {
  id: number;
  image: string;
  name: string;
  area: string;
  slogan: string;
}

const { image, name, area, slogan } = Astro.props;
---

<div class="bg-white p-5 shadow-md">
  <img src={image} />
  <h3 class="text-[20px]">{name}</h3>
  <p class="text-[#aab0bc] uppercase">{area}</p>
  <p>{slogan}</p>
</div>
